<div class="header">
        <a href="#default" class="logo">Tom's Library</a>
        <div class="header-right">
             <LinkTo @route="libhome">Home</LinkTo>
             <LinkTo @route="libhome.addbook">Add Book</LinkTo>
             <LinkTo @route="libhome.issuebook">Issue Book</LinkTo>
             <LinkTo @route="libhome.listbooks">List Books</LinkTo>            
             <LinkTo @route="libhome.addstudent">Add Student</LinkTo>            
             <LinkTo @route="libhome.liststudents">List Students</LinkTo>  
             <LinkTo @route="index">Signout</LinkTo>
        </div>
        
     </div>
