<div class="header">
        <a href="#default" class="logo">Tom's Library</a>
        <div class="header-right">
             <LinkTo @route="studhome">Home</LinkTo>
             <LinkTo @route="studhome.viewbooks">View Books</LinkTo>
             <LinkTo @route="studhome.returnbooks">Return Books</LinkTo>          
             <LinkTo @route="libhome.index">Library Home</LinkTo>
        </div>
</div>

